[client]
port=3306
default-character-set=utf8

[mysqld]
user = mysql
server-id = 02
read_only=1
#replicate-do-db = db1
#replicate-do-db = db2
port=3306
max_connections=1000

log-bin = master-bin
binlog_format=row
sync_binlog=1

expire_logs_days = 30

slow_query_log = 1
long_query_time = 2



default-storage-engine = InnoDB
innodb_file_per_table = 1

character-set-server = utf8
skip-name-resolve


lower_case_table_names=1
open_files_limit = 65535

# buffer
join_buffer_size=256M
key_buffer_size=64M

#cpu
thread_stack = 256K


# CACHES AND LIMITS #
tmp_table_size                 = 256M
max_heap_table_size            = 256M
query_cache_type               = 0
query_cache_size               = 0
thread_cache_size              = 1024
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 4096

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 512M
innodb_flush_log_at_trx_commit = 1


sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqldump]
quick
max_allowed_packet = 16M